li {
  color: black;
  cursor: pointer;
  margin-top: 5px;
  font-size: medium;
  background-color: lightyellow;
}
/* .header {
  margin-top: -20px;
  height: 80px;
  background-color: blueviolet;
  background-image: url(https://lh3.googleusercontent.com/proxy/bgPaAmbid4uKkT6w3dZhTJzfWl46ocnOXA8wdAkS0uZYGTkVuktth1GoEjlVqVt-R8FZF9D1cnI1bJb-KBHwa3kMxd0sRrS72qE74MBgbhe0zERtIy0JKddSwvipzZbJn_LkQjk);
} */
span {
  color: blue;
  font-size: larger;
}
.color {
  color: black;
  cursor: pointer;
  margin-top: 5px;
  font-size: medium;
  background-color: lightblue;
}
