<div
  class="container-fluid mt-5"
  style="background-color: lightblue; width: 400px; border-radius: 10px;"
>
  <h3 class="text-center">my data</h3>
  <p class="font-weight-bold">email:{{ getEmail() }}</p>
  <p class="font-weight-bold">password:{{ getPassword() }}</p>
  <button class="btn btn-info btn-sm" (click)="change()">
    change password
  </button>

  <div *ngIf="changePassword" class="container mt-5">
    <form [formGroup]="changePasswordForm">
      <input
        type="text"
        class="form-control"
        formControlName="email"
        placeholder="email"
      />
      <input
        type="password"
        formControlName="newPassword"
        placeholder="insert new password "
        class="form-control"
      />
      <input
        type="password"
        formControlName="confirmNewPassword"
        class="form-control"
        placeholder="confirm new password"
      />
    </form>
    <button class="btn btn-success" (click)="confirm()">confirm</button>
  </div>
</div>
