li {
  color: black;
  cursor: pointer;
  margin-top: 5px;
  font-size: medium;
  background-color: lightcoral;
}

span {
  color: blue;
  font-size: larger;
}
.color {
  color: black;
  cursor: pointer;
  margin-top: 5px;
  font-size: medium;
  background-color: lightblue;
}
