<br />
<div class="container">
  <div *ngFor="let todo of todos; let id = index">
    <li [class]="todo.completed ? 'done' : 'undone'">
      {{ todo.title }}

      <button (click)="done(id)">
        {{ todo.completed ? "undone" : "done" }}
      </button>
      <button (click)="remove(id)">del</button>
    </li>
  </div>
  <input type="text" placeholder="add a todo" [(ngModel)]="input" />

  <button [disabled]="this.input == null ? true : false" (click)="add()">
    Add
  </button>
  <button (click)="transport()">check</button>
</div>
