.done {
  text-decoration: line-through;
  background-color: darkgrey;
  color: black;
  width: 200px;
  margin-bottom: 2px;
  border-radius: 10px;
}

.undone {
  margin-left: 5px;
  background-color: darkgrey;
  color: black;
  width: 200px;
  margin-bottom: 2px;
  border-radius: 10px;
}
.container {
  background-color: blueviolet;
  width: 250px;
  border-radius: 10px;
}
button {
  border-radius: 5px;
  margin-left: 4px;
}
input {
  margin-bottom: 5px;
  margin-left: 5px;
  border-radius: 5px;
  height: 18px;
}
