<nav class="navbar navbar-inverse bg-primary">
  <h2>
    <a
      class="navbar-link"
      routerLinkActive="active"
      style="color: white;"
      routerLink="/products"
      >store</a
    >
  </h2>
  <h2>
    <a
      routerLinkActive="active"
      style="cursor: pointer; color: white;"
      routerLink="/card"
      >card</a
    >
  </h2>
  <h2>
    <a
      routerLinkActive="active"
      style="cursor: pointer; color: white;"
      routerLink="/purchase"
      >purchase</a
    >
  </h2>
</nav>

<router-outlet></router-outlet>
