
<nav class="navbar navbar-inverse bg-primary">
  <h2><a class="navbar-link"  routerLinkActive="active" style="color:white" routerLink='/products'>store</a> </h2>
  <h3><a  routerLinkActive="active" style="cursor: pointer; color:white" routerLink='/card'>card</a></h3>
  <h3><a  routerLinkActive="active" style="cursor: pointer; color:white" routerLink='/purchase'>purchase</a></h3>
 
</nav>
<!-- <h2 class="text-center">Rubic's store</h2> -->
<!-- 
<app-products></app-products>
<app-cart></app-cart> -->
<router-outlet></router-outlet>