<div class="container-fluid" style="background-color: lightblue;">
    <div class="row">
        <div *ngIf="!signUp" class="col-md-4">
            <div class="container-fluid">
                <form [formGroup]="signInForm">
                    <div class="form-group">
                       
                        <input type="email" 
                        placeholder="Email"
                        class="form-control"
                         formControlName="email"
                        >
                    </div>
                    <div class="form-group">
                       
                        <input type="password" 
                        placeholder="Password"
                        class="form-control"
                         formControlName="password"
                        >
                    </div>
                    <button class="btn btn-primary" (click)="signIn()">Log In</button>
                </form>
            </div>
        </div>

        <div *ngIf="signUp" class="col-md-4">
            <div class="container-fluid mt-5">
                <form [formGroup]="signUpForm" >
                <div class="row">
                    <div class="col-md-4">
                        <input class="form-control" 
                        placeholder="Name " 
                        formControlName = "name" >
                    </div>
                    <div class="col-md-4">
                                <input class="form-control" 
                                placeholder="Last name " 
                                formControlName = "lastName" >
                    </div>
                </div>
                   
                    <div class="form-group mt-2">
                        <input class="form-control" 
                         type="email"
                         placeholder="Email"
                        style="width: 240px;"
                        formControlName="email">
                    </div>
                    <div class="form-group mt-2">
                         <input class="form-control" 
                        type="password"
                        placeholder="Password"
                         style="width: 240px;"
                        formControlName="password">
                    </div>
                    <div class="form-group mt-2">
                        <input class="form-control" 
                       type="password"
                       placeholder="Confirm password"
                        style="width: 240px;"
                       formControlName="confirmPassword">
                   </div>

                  <div id="gender" class="form-group">
                    <input formControlName="gender" type="radio" value="male" />
                    <label>male</label>
                  </div>
                  <div id="gender" class="form-group">
                    <input  type="radio" formControlName="gender" value="female" />
                    <label>female</label>
                  </div>
                  <div id="gender" class="form-group">
                    <input  type="radio" formControlName="gender" value="other" />
                    <label>other</label>
                  </div>
                  <br>
                  <button class="btn btn-success" (click)="submit()">Sign Up</button>
                  <span> already registered click here
                       <button class="btn btn-info btn-sm"
                        (click)="switch()">sign in</button>
                    </span>
                  
                </form>
            </div>
        </div>
        <div class="col-md-4">
             <p>content</p>
        </div>
    </div>
</div>
