<h2>reactive forms</h2>

<div class="container-fluid">
  <form [formGroup]="myForm">
    {{ myForm.value | json }}
    <div class="form-group">
      <label>user-name</label>
      <input
        [class.is-invalid]="myForm.get('userName').invalid"
        formControlName="userName"
        class="form-control"
        type="text"
      />
      <!-- <div *ngIf="myForm.get('userName').invalid"> -->
      <small class="text-danger" *ngIf="myForm.get('userName').errors?.required"
        >user-name's field is required</small
      >
      <small
        class="text-danger"
        *ngIf="myForm.get('userName').errors?.minlength"
        >it should contain than 3 letters</small
      >
      <!-- </div> -->
    </div>

    <div class="form-group">
      <label>password</label>
      <input
        formControlName="password"
        pattern="^\d{10}$"
        class="form-control"
        type="password"
        [class.is-invalid]="myForm.get('password').invalid"
      />
      <small class="text-danger" [class.d-none]="myForm.get('password').valid">
        should containt 10 digits</small
      >
    </div>
    <div class="form-group">
      <label>confirm password</label>
      <input
        formControlName="confirmPassword"
        class="form-control"
        type="password"
      />
    </div>

    <div formGroupName="new">
      <div class="form-group">
        <label>adress</label>
        <input formControlName="adress" class="form-control" type="text" />
      </div>
      <div class="form-group">
        <label>city</label>
        <input formControlName="city" class="form-control" type="text" />
      </div>
      <div class="form-group">
        <label>town</label>
        <input formControlName="town" class="form-control" type="text" />
      </div>
    </div>
    <button class="btn btn-primary">register</button>
  </form>
</div>
